@page "/"

@inject IGraphQLService GraphQLService;



<h1>MAUI GraphQL Client</h1>

Getting Crypto Prices using GraphQL:
<ul>

    @foreach (var session in _assets)
    {
        <li>@session.Name: @session.Price.LastPrice</li>
    }
</ul>



@code {
    private IReadOnlyList<IAssetInfo> _assets = Array.Empty<IAssetInfo>();
    private IDisposable _storeSession;

    protected override  void OnInitialized()
    {
        _storeSession = GraphQLService?.GetAssets().Select(t => t.Data!.Assets!.Nodes)
           .Subscribe(result =>
           {
               _assets = result;
               InvokeAsync(this.StateHasChanged);
           });
    }

    public void Dispose()
    {
        _storeSession?.Dispose();
    }

    }

